.card {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  border-radius: 10px;
  width: 20em;
  padding: 0.5em 0.7em;
  background-color: rgb(137, 91, 175);
  list-style-type: none;
}

li {
  padding: 1em;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li:first-child {
  margin-top: 10px;
}
